# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=8d4b0ba717b0e29081dd0cb21d7eb9dd
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
DATABASE_URL="mysql://your-user:your-password@127.0.0.1:3306/app?serverVersion=8.0.36&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=sync://
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> app ###
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
MAXMIND_ENABLED=false
MAXMIND_LICENSE_KEY=
ELASTICSEARCH_ENABLED=false
ELASTICSEARCH_INDEX=feed
ELASTICSEARCH_URL=http://127.0.0.1:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_API_KEY=
SSL_VERIFY_PEER=true
SSL_VERIFY_HOST=true
LDAP_ENABLED=false
LDAP_SERVER='ldap://127.0.0.1'
LDAP_PORT=389
LDAP_PROTOCOL=3
LDAP_ROOT_DN='cn=Manager,dc=my-domain,dc=com'
LDAP_ROOT_PW='secret'
LDAP_BASE_DN='dc=my-domain,dc=com'
LDAP_SEARCH_USER='mail=[email]'
LDAP_SEARCH_GROUP_ADMIN='cn=admingroup'
###< app ###
