<script type="text/template" id="view-feeds">
    <div class="mdl-card row position-relative" id="title-entries">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
                {{#if hightlightIncluded }}
                    <a href="#{{ hightlightIncluded.type }}/{{ hightlightIncluded.id }}" class="load-route">{{ hightlightIncluded.attributes.title }} ({{trans hightlightIncluded.type}})</a> /
                {{/if}}
                {{#if current_title }}
                    {{trans current_title}} <span class="badge bg-light text-dark">{{ meta.results }}</span>
                {{else}}
                    {{trans 'title.feeds'}} <span class="badge bg-light text-dark">{{ meta.results }}</span>
                {{/if}}
            </h1>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#feeds/recent" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'button.recent_feeds'}}</a>
                <a href="#feeds/subscribed" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.subscribed_feeds'}}</a>
                <a href="#feeds/unsubscribed" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.unsubscribed_feeds'}}</a>
                <a href="#feeds/witherrors" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.feeds_witherrors'}}</a>
                <a href="#feeds/search" class="load-route mdl-button btn btn-secondary btn-sm online">{{trans 'button.search_feeds'}}</a>
            </p>
            <p>
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog connected online" data-bs-target="#dialog-add_feed">{{trans 'add'}}</button>
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog connected online" data-bs-target="#dialog-import_feed">{{trans 'import'}}</button>
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog connected online" data-bs-target="#dialog-export_feed">{{trans 'export'}}</button>
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="view-feeds-unit">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="feed-{{ entry.id }}" dir="{{ entry.attributes.direction }}">
        <div class="mdl-card__title mb-3">
            <h1 class="mdl-card__title-text fs-5">
                <a href="#feed/{{ entry.id }}" class="load-route favicon"{{#if entry.attributes.hostname }} style="background-image:url({{ entry.attributes.icon_url }});"{{/if}}>
                    {{ entry.attributes.title }}
                </a>
            </h1>
            <div class="mdl-card__subtitle-text">
                {{#if entry.attributes.score }}<span class="load-route mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-graph-up"></i> {{score entry.attributes.score }}</span>{{/if}}
                {{#if entry.attributes.language }}<span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-translate"></i> {{ entry.attributes.language }}</span>{{/if}}
                <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ entry.attributes.date_created }}"></span></span>
                {{#if entry.relationships.categories.data }}
                    {{#each entry.relationships.categories.data as |category category_index|}}
                        <a href="#feeds/category/{{ category.id }}" class="load-route mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-tag-fill"></i> {{ category.attributes.title }}</a>
                    {{/each}}
                {{/if}}
            </div>
        </div>
        {{#if entry.attributes.description }}
        <div class="mdl-card__supporting-text">
            {{ entry.attributes.description }}
        </div>
        {{/if}}
        <div class="mdl-card__actions text-end mt-3 mdl-card--border">
            <p>
                <a href="#authors/feed/{{ entry.id }}" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'title.authors'}}</a>
                <a href="#items/feed/{{ entry.id }}" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'title.items'}}</a>
            </p>
            <p>
                {{#if entry.subscribe }}
                    <a href="#feed/action/subscribe/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm connected online">{{trans 'unsubscribe'}}</a>
                {{else}}
                    <a href="#feed/action/subscribe/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm connected online">{{trans 'subscribe'}}</a>
                {{/if}}
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="view-feed-read">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="feed" dir="{{ entry.attributes.direction }}">
        <div class="mdl-card__title mb-3">
            <h1 class="favicon mdl-card__title-text fs-5"{{#if entry.attributes.hostname }} style="background-image:url({{ entry.attributes.icon_url }});"{{/if}}>
                {{ entry.attributes.title }}
            </h1>
            <div class="mdl-card__subtitle-text">
                {{#if entry.attributes.language }}<span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-translate"></i> {{ entry.attributes.language }}</span>{{/if}}
                <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ entry.attributes.date_created }}"></span></span>
                {{#if entry.relationships.categories.data }}
                    {{#each entry.relationships.categories.data as |category category_index|}}
                        <a href="#feeds/category/{{ category.id }}" class="load-route mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-tag-fill"></i> {{ category.attributes.title }}</a>
                    {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                <span class="label">{{trans 'link'}}</span>
                <a href="{{ entry.attributes.link }}" target="_blank">{{ entry.attributes.link }}</a>
            </p>
            <p>
                <span class="label">{{trans 'website'}}</span>
                <a href="{{ entry.attributes.website }}" target="_blank">{{ entry.attributes.website }}</a>
            </p>
            {{#if entry.attributes.description }}
            <p>
                <span class="label">{{trans 'description'}}</span>
                {{ entry.attributes.description }}
            </p>
            {{/if}}
            {{#if entry.attributes.language }}
            <p>
                <span class="label">{{trans 'language'}}</span>
                {{ entry.attributes.language }}
            </p>
            {{/if}}
        </div>
        <div class="mdl-card__actions text-end mt-3 mdl-card--border">
            <p>
                <a href="#authors/feed/{{ entry.id }}" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'title.authors'}}</a>
                <a href="#items/feed/{{ entry.id }}" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'title.items'}}</a>
            </p>
            <p>
                {{#if entry.subscribe }}
                    <a href="#feed/action/subscribe/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm connected online">{{trans 'unsubscribe'}}</a>
                {{else}}
                    <a href="#feed/action/subscribe/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm connected online">{{trans 'subscribe'}}</a>
                {{/if}}
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog online administrator" data-bs-target="#dialog-update-{{ entry.id }}">{{trans 'update'}}</button>
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog online administrator" data-bs-target="#dialog-delete-{{ entry.id }}">{{trans 'delete'}}</button>
            </p>
        </div>

        <div class="modal fade" id="dialog-update-{{ entry.id }}" tabindex="-1" aria-labelledby="{{trans 'update'}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#feed/{{ entry.id }}" data-query="/feed/{{ entry.id }}" method="PUT">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ entry.attributes.title }} ({{trans 'feed'}})
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label for="title" class="form-label">{{trans 'field.title'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                            <input type="text" class="form-control" id="title" name="title" required value="{{ entry.attributes.title }}">
                        </p>
                        <p>
                            <label for="link" class="form-label">{{trans 'link'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                            <input type="url" class="form-control" id="link" name="link" required value="{{ entry.attributes.link }}">
                        </p>
                        <p>
                            <label for="website" class="form-label">{{trans 'website'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                            <input type="url" class="form-control" id="website" name="website" required value="{{ entry.attributes.website }}">
                        </p>
                        <p>
                            <label for="language" class="form-label">{{trans 'language'}}</label>
                            <input type="text" class="form-control" id="language" name="language" value="{{ entry.attributes.language }}">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'update'}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dialog-delete-{{ entry.id }}" tabindex="-1" aria-labelledby="{{trans 'delete'}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#feeds/recent" data-query="/feed/{{ entry.id }}" method="DELETE">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ entry.attributes.title }} ({{trans 'feed'}})
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'delete'}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{#if entry.relationships.collections.data }}
        {{#each entry.relationships.collections.data as |collection collection_index|}}
            {{#if collection.attributes.error }}
                <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative connected" id="collection-{{ collection.id }}">
                    <div class="mdl-card__title mb-3">
                        <h1 class="mdl-card__title-text fs-5">
                            {{ collection.attributes.error }}
                        </h1>
                        <div class="mdl-card__subtitle-text">
                            <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ collection.attributes.date_created }}"></span></span>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    {{/if}}
</script>
