<script type="text/template" id="view-feeds">
    <div class="mdl-card row position-relative" id="title-entries">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
                {{#if entry }}
                    <a href="#{{ entry_entity }}/{{ entry.id }}" class="load-route">{{ entry.title }} ({{trans entry_entity}})</a> /
                {{/if}}
                {{#if current_title }}
                    {{trans current_title}} <span class="badge bg-light text-dark">{{ entries_total }}</span>
                {{else}}
                    {{trans 'title.feeds'}} <span class="badge bg-light text-dark">{{ entries_total }}</span>
                {{/if}}
            </h1>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#feeds/recent" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'button.recent_feeds'}}</a>
                <a href="#feeds/subscribed" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.subscribed_feeds'}}</a>
                <a href="#feeds/unsubscribed" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.unsubscribed_feeds'}}</a>
                <a href="#feeds/witherrors" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.feeds_witherrors'}}</a>
                <a href="#feeds/search" class="load-route mdl-button btn btn-secondary btn-sm online">{{trans 'button.search_feeds'}}</a>
            </p>
            <p>
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog connected online" data-bs-target="#dialog-add_feed">{{trans 'add'}}</button>
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog connected online" data-bs-target="#dialog-import_feed">{{trans 'import'}}</button>
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog connected online" data-bs-target="#dialog-export_feed">{{trans 'export'}}</button>
            </p>
        </div>

        <div class="modal fade" id="dialog-add_feed" tabindex="-1" aria-labelledby="{{trans 'add'}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#feeds/recent" data-query="/feeds" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{trans 'title.feeds'}}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label for="title" class="form-label required">{{trans 'field.title'}}</label>
                            <input type="text" class="form-control" id="title" name="title" required="required" value="">
                        </p>

                        <p>
                            <label for="link" class="form-label required">{{trans 'link'}}</label>
                            <input type="url" class="form-control" id="link" name="link" required="required" value="">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="mdl-button btn btn-primary btn-lg" data-bs-dismiss="modal">{{trans 'add'}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dialog-import_feed" tabindex="-1" aria-labelledby="{{trans 'import'}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#feeds/recent" data-query="/feeds/import" method="POST" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{trans 'title.feeds'}}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label for="file" class="form-label required">{{trans 'import_opml'}}</label>
                            <input type="file" class="form-control" id="file" name="file" required="required">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="mdl-button btn btn-primary btn-lg" data-bs-dismiss="modal">{{trans 'import'}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dialog-export_feed" tabindex="-1" aria-labelledby="{{trans 'export'}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#feeds/recent" data-query="/feeds/export" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{trans 'title.feeds'}}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label for="choice" class="form-label required">{{trans 'export_opml'}}</label>
                            <select class="form-control" id="choice" name="choice" required="required">
                                <option value="your_subscriptions">{{trans 'your_subscriptions'}}</option>
                                <option value="all_feeds">{{trans 'all_feeds'}}</option>
                            </select>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="mdl-button btn btn-primary btn-lg" data-bs-dismiss="modal">{{trans 'export'}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="view-feeds-unit">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="feed-{{ entry.id }}" dir="{{ entry.direction }}">
        <div class="mdl-card__title mb-3">
            <h1 class="mdl-card__title-text fs-5">
                <a href="#feed/{{ entry.id }}" class="load-route favicon"{{#if entry.hostname }} style="background-image:url({{ entry.icon_url }});"{{/if}}>
                    {{ entry.title }}
                </a>
            </h1>
            <div class="mdl-card__subtitle-text">
                {{#if entry.score }}<span class="load-route mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-graph-up"></i> {{score entry.score }}</span>{{/if}}
                {{#if entry.language }}<span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-translate"></i> {{ entry.language }}</span>{{/if}}
                <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ entry.date_created }}"></span></span>
                {{#if entry.categories }}
                    {{#each entry.categories as |category category_index|}}
                        <a href="#feeds/category/{{ category.id }}" class="load-route mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-tag-fill"></i> {{ category.title }}</a>
                    {{/each}}
                {{/if}}
            </div>
        </div>
        {{#if entry.description }}
        <div class="mdl-card__supporting-text">
            {{ entry.description }}
        </div>
        {{/if}}
        <div class="mdl-card__actions text-end mt-3 mdl-card--border">
            <a href="#authors/feed/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'title.authors'}}</a>
            <a href="#items/feed/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'title.items'}}</a>
            {{#if entry.subscribe }}
                <a href="#feed/action/subscribe/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm connected online">{{trans 'unsubscribe'}}</a>
            {{else}}
                <a href="#feed/action/subscribe/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm connected online">{{trans 'subscribe'}}</a>
            {{/if}}
        </div>
    </div>
</script>

<script type="text/template" id="view-feed-read">
    <div class="mdl-card row position-relative" id="feeds">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
                {{trans 'title.feeds'}}
            </h1>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#feeds/recent" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'button.recent_feeds'}}</a>
                <a href="#feeds/subscribed" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.subscribed_feeds'}}</a>
                <a href="#feeds/unsubscribed" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.unsubscribed_feeds'}}</a>
                <a href="#feeds/witherrors" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.feeds_witherrors'}}</a>
                <a href="#feeds/search" class="load-route mdl-button btn btn-secondary btn-sm online">{{trans 'button.search_feeds'}}</a>
            </p>
        </div>
    </div>

    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="feed" dir="{{ entry.direction }}">
        <div class="mdl-card__title mb-3">
            <h1 class="favicon mdl-card__title-text fs-5"{{#if entry.hostname }} style="background-image:url({{ entry.icon_url }});"{{/if}}>
                {{ entry.title }}
            </h1>
            <div class="mdl-card__subtitle-text">
                {{#if entry.language }}<span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-translate"></i> {{ entry.language }}</span>{{/if}}
                <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ entry.date_created }}"></span></span>
                {{#if entry.categories }}
                    {{#each entry.categories as |category category_index|}}
                        <a href="#feeds/category/{{ category.id }}" class="load-route mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-tag-fill"></i> {{ category.title }}</a>
                    {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                <span class="label">{{trans 'link'}}</span>
                <a href="{{ entry.link }}" target="_blank">{{ entry.link }}</a>
            </p>
            <p>
                <span class="label">{{trans 'website'}}</span>
                <a href="{{ entry.website }}" target="_blank">{{ entry.website }}</a>
            </p>
            {{#if entry.description }}
            <p>
                <span class="label">{{trans 'description'}}</span>
                {{ entry.description }}
            </p>
            {{/if}}
            {{#if entry.language }}
            <p>
                <span class="label">{{trans 'language'}}</span>
                {{ entry.language }}
            </p>
            {{/if}}
        </div>
        <div class="mdl-card__actions text-end mt-3 mdl-card--border">
            <a href="#authors/feed/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'title.authors'}}</a>
            <a href="#items/feed/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'title.items'}}</a>
            {{#if entry.subscribe }}
                <a href="#feed/action/subscribe/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm connected online">{{trans 'unsubscribe'}}</a>
            {{else}}
                <a href="#feed/action/subscribe/{{ entry.id }}" class="load-route mdl-button btn btn-primary btn-sm connected online">{{trans 'subscribe'}}</a>
            {{/if}}

            <button type="button" class="mdl-button btn btn-primary btn-sm dialog online administrator" data-bs-target="#dialog-update-{{ entry.id }}">{{trans 'update'}}</button>

            <button type="button" class="mdl-button btn btn-primary btn-sm dialog online administrator" data-bs-target="#dialog-delete-{{ entry.id }}">{{trans 'delete'}}</button>
        </div>

        <div class="modal fade" id="dialog-update-{{ entry.id }}" tabindex="-1" aria-labelledby="{{trans 'update'}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#feed/{{ entry.id }}" data-query="/feed/{{ entry.id }}" method="PUT">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ entry.title }} ({{trans 'feed'}})
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label for="title" class="form-label required">{{trans 'field.title'}}</label>
                            <input type="text" class="form-control" id="title" name="title" required="required" value="{{ entry.title }}">
                        </p>
                        <p>
                            <label for="link" class="form-label required">{{trans 'link'}}</label>
                            <input type="url" class="form-control" id="link" name="link" required="required" value="{{ entry.link }}">
                        </p>
                        <p>
                            <label for="website" class="form-label required">{{trans 'website'}}</label>
                            <input type="url" class="form-control" id="website" name="website" required="required" value="{{ entry.website }}">
                        </p>
                        <p>
                            <label for="language" class="form-label">{{trans 'language'}}</label>
                            <input type="text" class="form-control" id="language" name="language" value="{{ entry.language }}">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="mdl-button btn btn-primary btn-lg" data-bs-dismiss="modal">{{trans 'update'}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="dialog-delete-{{ entry.id }}" tabindex="-1" aria-labelledby="{{trans 'delete'}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#feeds/recent" data-query="/feed/{{ entry.id }}" method="DELETE">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ entry.title }} ({{trans 'feed'}})
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="mdl-button btn btn-primary btn-lg" data-bs-dismiss="modal">{{trans 'delete'}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{#each entry.collections as |collection collection_index|}}
        {{#if collection.error }}
            <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative connected" id="collection-{{ collection.id }}">
                <div class="mdl-card__title mb-3">
                    <h1 class="mdl-card__title-text fs-5">
                        {{ collection.error }}
                    </h1>
                    <div class="mdl-card__subtitle-text">
                        <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ collection.date_created }}"></span></span>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/each}}
</script>
