<script type="text/template" id="view-login">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="login">
        <form action="#items/unread" data-query="/login" method="POST">
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="email" class="form-label">{{trans 'email'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                    <input type="email" class="form-control form-control-lg" id="email" name="email" autocomplete="email" required autofocus>
                </p>
                <p>
                    <label for="password" class="form-label">{{trans 'password'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                    <input type="password" class="form-control form-control-lg" id="password" name="password" autocomplete="current-password" required>
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'login'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions text-end mt-3 mdl-card--border">
                <p>
                    <a href="#" class="mdl-button btn btn-secondary btn-sm dialog passkey-login">{{trans 'passkey_login'}}</a>
                    <a href="#forgotpassword" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'forgotpassword'}}</a>
                </p>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-profile">
    <div class="mdl-card row position-relative" id="profile">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
                {{ entry.email }}
            </h1>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#profile" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'profile'}}</a>
                <a href="#profile/connections" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'connections'}}</a>
                <a href="#profile/passkeys" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'passkeys'}}</a>
            </p>
        </div>
    </div>

    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative online" id="profile-update">
        <form action="#profile" data-query="/profile" method="PUT">
            <div class="mdl-card__title mb-3">
                <h1 class="mdl-card__title-text fs-5">
                    {{trans 'profile'}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="email" class="form-label">{{trans 'email'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                    <input type="email" class="form-control" id="email" name="email" required value="{{ entry.email }}" autocomplete="email">
                </p>
                <p>
                    <label for="password" class="form-label">{{trans 'password'}}</label>
                    <input type="password" class="form-control" id="password" name="password" value="" autocomplete="new-password">
                </p>
                <p>
                    <label for="passwordConfirm" class="form-label">{{trans 'password_confirm'}}</label>
                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" value="" autocomplete="new-password">
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'update'}}</button>
                </p>
            </div>
        </form>
    </div>

    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative online" id="profile-pinboard">
        <form action="#profile" data-query="/pinboard" method="POST">
            <div class="mdl-card__title mb-3">
                <h1 class="mdl-card__title-text fs-5">
                    Pinboard
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Go to your <a href="https://pinboard.in/settings/password" target="_blank">settings page</a> on Pinboard to get your API Token.</p>
                <p>
                    <label for="token" class="form-label">{{trans 'field.token'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                    <input type="text" class="form-control" id="token" name="token" required value="{{#if pinboard }}{{ pinboard.token }}{{/if}}">
                </p>
                <p>
                    {{#if pinboard }}
                        <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'update'}}</button>
                    {{else}}
                        <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'add'}}</button>
                    {{/if}}
                </p>
            </div>
        </form>
        {{#if pinboard }}
            <div class="mdl-card__actions text-end mt-3 mdl-card--border">
                <form action="#profile" data-query="/connection/{{ pinboard.id }}" method="DELETE">
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'delete'}}</button>
                </form>
            </div>
        {{/if}}
    </div>
</script>

<script type="text/template" id="view-profile-connections">
    <div class="mdl-card row position-relative" id="profile-connections">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
                {{ entry.email }}
            </h1>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#profile" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'profile'}}</a>
                <a href="#profile/connections" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'connections'}}</a>
                <a href="#profile/passkeys" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'passkeys'}}</a>
            </p>
        </div>
    </div>

    {{#each entries as |connection connection_index|}}
        <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="connection-{{ connection.id }}">
            <div class="mdl-card__title mb-3">
                <h1 class="mdl-card__title-text fs-5">
                    {{#if connection.currentToken }}<i class="bi bi-star-fill"></i> {{/if}}{{ connection.type }}
                </h1>
                <div class="mdl-card__subtitle-text">
                    <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ connection.date_modified }}"></span></span>
                    <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-reception-4"></i> {{#if connection.currentIp }}<strong>{{ connection.ip }}</strong>{{else}}{{ connection.ip }}{{/if}}</span>
                    {{#if connection.address }}<span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-geo-alt-fill"></i> {{ connection.address }}</span>{{/if}}
                    {{#if connection.latitude }}
                        {{#if connection.longitude }}
                            <a class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap" target="_blank" href="https://www.google.com/maps?q={{ connection.latitude }},{{ connection.longitude }}&oe=UTF-8&ie=UTF-8"><i class="bi bi-geo-alt-fill"></i> {{ connection.latitude }},{{ connection.longitude }}</a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    {{ connection.brand }} {{ connection.model }} ({{ connection.device }})
                </p>

                <p>
                    {{ connection.os }} / {{ connection.client }}
                </p>
            </div>
            <div class="mdl-card__actions text-end mt-3 mdl-card--border online">
                <button type="button" class="mdl-button btn {{#if connection.currentToken }}btn-danger{{else}}btn-primary{{/if}} btn-sm dialog online" data-bs-target="#dialog-delete-{{ connection.id }}">{{trans 'delete'}}</button>
            </div>
        </div>

        <div class="modal fade" id="dialog-delete-{{ connection.id }}" tabindex="-1" aria-labelledby="{{trans 'delete'}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#profile/connections" data-query="/connection/{{ connection.id }}" method="DELETE" data-close-dialog="#dialog-delete-{{ connection.id }}">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{#if connection.currentToken }}<i class="bi bi-star-fill"></i> {{/if}}{{ connection.type }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            {{ connection.brand }} {{ connection.model }} ({{ connection.device }})
                        </p>

                        <p>
                            {{ connection.os }} / {{ connection.client }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'delete'}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script type="text/template" id="view-profile-passkeys">
    <div class="mdl-card row position-relative" id="profile-passkeys">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
                {{ entry.email }}
            </h1>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#profile" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'profile'}}</a>
                <a href="#profile/connections" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'connections'}}</a>
                <a href="#profile/passkeys" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'passkeys'}}</a>
            </p>
            <p>
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog connected online" data-bs-target="#dialog-add_passkey">{{trans 'add'}}</button>
            </p>
        </div>
    </div>

    <div class="modal fade" id="dialog-add_passkey" tabindex="-1" aria-labelledby="{{trans 'add'}}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#profile/passkeys" data-query="/passkeys" method="POST" data-close-dialog="#dialog-add_passkey" class="passkey-form">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{trans 'title.add_passkey'}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="passkey-title" class="form-label">{{trans 'field.title'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                        <input type="text" class="form-control" id="passkey-title" name="title" required value="">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'submit'}}</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    {{#each entries as |passkey passkey_index|}}
        <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="passkey-{{ passkey.id }}">
            <div class="mdl-card__title mb-3">
                <h1 class="mdl-card__title-text fs-5">
                    {{ passkey.title }}
                </h1>
                <div class="mdl-card__subtitle-text">
                    <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ passkey.date_created }}"></span></span>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
            </div>
            <div class="mdl-card__actions text-end mt-3 mdl-card--border online">
                <button type="button" class="mdl-button btn btn-primary btn-sm dialog online" data-bs-target="#dialog-delete-{{ passkey.id }}">{{trans 'delete'}}</button>
            </div>
        </div>

        <div class="modal fade" id="dialog-delete-{{ passkey.id }}" tabindex="-1" aria-labelledby="{{trans 'delete'}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#profile/passkeys" data-query="/passkey/{{ passkey.id }}" method="DELETE" data-close-dialog="#dialog-delete-{{ passkey.id }}">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ passkey.title }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'delete'}}</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</script>
