<script type="text/template" id="view-login">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="login">
        <form action="#items/unread" data-query="/login" method="POST">
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="email" class="form-label required">{{trans 'email'}}</label>
                    <input type="email" class="form-control form-control-lg" id="email" name="email" autocomplete="email" required autofocus>
                </p>
                <p>
                    <label for="password" class="form-label required">{{trans 'password'}}</label>
                    <input type="password" class="form-control form-control-lg" id="password" name="password" autocomplete="current-password" required>
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'login'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions text-end mt-3 mdl-card--border">
                <a href="#forgotpassword" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'forgotpassword'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-forgotpassword">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="forgotpassword">
        <form action="#login" data-query="/forgotpassword" method="POST">
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="email" class="form-label required">{{trans 'email'}}</label>
                    <input type="email" class="form-control form-control-lg" id="email" name="email" autocomplete="email" required autofocus>
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'forgotpassword'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions text-end mt-3 mdl-card--border">
                <a href="#login" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'login'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-forgotpassword">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="forgotpassword">
        <form action="#login" data-query="/forgotpassword-code" method="POST">
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="code" class="form-label required">{{trans 'code'}}</label>
                    <input type="number" class="form-control form-control-lg" id="email" name="code" required autofocus>
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'code'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions text-end mt-3 mdl-card--border">
                <a href="#login" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'login'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-profile">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="profile">
        <div class="mdl-card__title mb-3">
            <h1 class="mdl-card__title-text fs-5">
                {{ entry.email }}
            </h1>
            <div class="mdl-card__subtitle-text">
                <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ entry.date_created }}"></span></span>
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            {{#if entry.nickname }}
            <p>
                <span class="label">{{trans 'nickname'}}</span>
                {{ entry.nickname }}
            </p>
            {{/if}}
        </div>
        <div class="mdl-card__actions text-end mt-3 mdl-card--border">
            <a href="#profile" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'profile'}}</a>
            <a href="#profile/connections" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'connections'}}</a>
        </div>
    </div>

    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative online" id="profile-update">
        <form action="#profile" data-query="/profile" method="PUT">
            <div class="mdl-card__title mb-3">
                <h1 class="mdl-card__title-text fs-5">
                    {{trans 'profile'}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="email" class="form-label required">{{trans 'email'}}</label>
                    <input type="email" class="form-control" id="email" name="email" required="required" value="{{ entry.email }}" autocomplete="email">
                </p>
                <p>
                    <label for="password" class="form-label">{{trans 'password'}}</label>
                    <input type="password" class="form-control" id="password" name="password" value="" autocomplete="new-password">
                </p>
                <p>
                    <label for="passwordConfirm" class="form-label">{{trans 'password_confirm'}}</label>
                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" value="" autocomplete="new-password">
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'update'}}</button>
                </p>
            </div>
        </form>
    </div>

    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative online" id="profile-pinboard">
        <form action="#profile" data-query="/pinboard" method="POST">
            <div class="mdl-card__title mb-3">
                <h1 class="mdl-card__title-text fs-5">
                    Pinboard
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Go to your <a href="https://pinboard.in/settings/password" target="_blank">settings page</a> on Pinboard to get your API Token.</p>
                <p>
                    <label for="token" class="form-label required">{{trans 'field.token'}}</label>
                    <input type="text" class="form-control" id="token" name="token" required="required" value="{{#if pinboard }}{{ pinboard.token }}{{/if}}">
                </p>
                <p>
                    {{#if pinboard }}
                        <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'update'}}</button>
                    {{else}}
                        <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'add'}}</button>
                    {{/if}}
                </p>
            </div>
        </form>
        {{#if pinboard }}
            <div class="mdl-card__actions text-end mt-3 mdl-card--border">
                <form action="#profile" data-query="/connection/{{ pinboard.id }}" method="DELETE">
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'delete'}}</button>
                </form>
            </div>
        {{/if}}
    </div>
</script>

<script type="text/template" id="view-profile-connections">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="profile-connections">
        <div class="mdl-card__title mb-3">
            <h1 class="mdl-card__title-text fs-5">
                {{ entry.email }}
            </h1>
            <div class="mdl-card__subtitle-text">
                <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ entry.date_created }}"></span></span>
            </div>
        </div>
        <div class="mdl-card__actions text-end mt-3 mdl-card--border">
            <a href="#profile" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'profile'}}</a>
            <a href="#profile/connections" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'connections'}}</a>
        </div>
    </div>

    {{#each entries as |connection connection_index|}}
        <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="connection-{{ connection.id }}">
            <div class="mdl-card__title mb-3">
                <h1 class="mdl-card__title-text fs-5">
                    {{#if connection.currentToken }}<i class="bi bi-star-fill"></i> {{/if}}{{ connection.type }}
                </h1>
                <div class="mdl-card__subtitle-text">
                    <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-clock-history"></i> <span class="timeago" data-date="{{ connection.date_modified }}"></span></span>
                    <span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-reception-4"></i> {{#if connection.currentIp }}<strong>{{ connection.ip }}</strong>{{else}}{{ connection.ip }}{{/if}}</span>
                    {{#if connection.address }}<span class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap"><i class="bi bi-geo-alt-fill"></i> {{ connection.address }}</span>{{/if}}
                    {{#if connection.latitude }}
                        {{#if connection.longitude }}
                            <a class="mdl-navigation__link text-secondary-emphasis text-decoration-none text-nowrap" target="_blank" href="https://www.google.com/maps?q={{ connection.latitude }},{{ connection.longitude }}&oe=UTF-8&ie=UTF-8"><i class="bi bi-geo-alt-fill"></i> {{ connection.latitude }},{{ connection.longitude }}</a>
                        {{/if}}
                {{/if}}
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    {{ connection.brand }} {{ connection.model }} ({{ connection.device }})
                </p>

                <p>
                    {{ connection.os }} / {{ connection.client }}
                </p>
            </div>
            <div class="mdl-card__actions text-end mt-3 mdl-card--border online">
                <form action="#profile/connections" data-query="/connection/{{ connection.id }}" method="DELETE">
                    <button type="submit" class="mdl-button btn {{#if connection.currentToken }}btn-danger{{else}}btn-primary{{/if}} btn-sm">{{trans 'delete'}}</button>
                </form>
            </div>
        </div>
    {{/each}}
</script>
