<script type="text/template" id="view-toast">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="{{ id }}">
        <div class="toast-header">
            <strong class="me-auto">{{ title }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ body }}
        </div>
    </div>
</script>

<script type="text/template" id="view-navigation">
    <button class="action-up btn btn-secondary position-relative" title="k"><i class="bi bi-chevron-up"></i></button>
    <a href="#items/unread" class="action-unread load-route btn btn-secondary position-relative" title="r"><i class="bi bi-eye-slash-fill"></i><span class="count-unread z-3 position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span></a>
    <button class="action-down btn btn-secondary position-relative" title="j"><i class="bi bi-chevron-down"></i></button>
</script>

<script type="text/template" id="view-menu-left">
    <li class="fs-5 nav-item connected"><a href="#items/recent" class="dropdown-item load-route" title="{{trans 'shortcut_g_then_a'}}"><i class="bi bi-newspaper"></i>&nbsp;{{trans 'title.recent_items'}}</a></li>
    <li class="fs-5 nav-item connected"><a href="#items/unread" class="dropdown-item load-route" title="{{trans 'shortcut_g_then_u'}}"><i class="bi bi-eye-slash"></i>&nbsp;{{trans 'title.unread_items'}}</a></li>
    <li class="fs-5 nav-item connected"><a href="#items/starred" class="dropdown-item load-route" title="{{trans 'shortcut_g_then_s'}}"><i class="bi bi-star"></i>&nbsp;{{trans 'title.starred_items'}}</a></li>
    <li class="connected"><hr class="dropdown-divider"></li>
    <li class="fs-5 nav-item connected"><a href="#feeds/recent" class="dropdown-item load-route"><i class="bi bi-rss"></i>&nbsp;{{trans 'title.recent_feeds'}}</a></li>
    <li class="fs-5 nav-item connected"><a href="#feeds/subscribed" class="dropdown-item load-route"><i class="bi bi-bookmark"></i>&nbsp;{{trans 'title.subscribed_feeds'}}</a></li>
    <li class="fs-5 nav-item connected"><a href="#feeds/witherrors" class="dropdown-item load-route"><i class="bi bi-bug"></i>&nbsp;{{trans 'title.feeds_witherrors'}}</a></li>
    <li class="connected"><hr class="dropdown-divider"></li>
    <li class="fs-5 nav-item connected"><a href="#categories/trendy" class="dropdown-item load-route"><i class="bi bi-tags"></i>&nbsp;{{trans 'title.trendy_categories'}}</a></li>
    <li class="fs-5 nav-item connected"><a href="#authors/trendy" class="dropdown-item load-route"><i class="bi bi-people"></i>&nbsp;{{trans 'title.trendy_authors'}}</a></li>
    <li class="connected"><hr class="dropdown-divider"></li>
    <li class="fs-5 nav-item connected"><a href="#profile" class="dropdown-item load-route"><i class="bi bi-person-circle"></i>&nbsp;{{trans 'profile'}}</a></li>
    <li class="fs-5 nav-item anonymous"><a href="#login" class="dropdown-item load-route"><i class="bi bi-box-arrow-in-left"></i>&nbsp;{{trans 'login'}}</a>
    <li class="fs-5 nav-item connected"><a href="#logout" class="dropdown-item load-route"><i class="bi bi-box-arrow-right"></i>&nbsp;{{trans 'logout'}}</a></li>
</script>

<script type="text/template" id="view-menu-right">
    <li class="fs-5 nav-item d-none"><a href="#" class="dropdown-item" id="install"><i class="bi bi-download"></i>&nbsp;{{trans 'install'}}</a></li>
    <li class="fs-5 nav-item connected d-none"><a href="#" class="dropdown-item" id="enable_notifications"><i class="bi bi-bell"></i>&nbsp;{{trans 'enable_notifications'}}</a></li>
    <li class="fs-5 nav-item connected d-none"><a href="#" class="dropdown-item" id="disable_notifications"><i class="bi bi-bell-slash"></i>&nbsp;{{trans 'disable_notifications'}}</a></li>
    <li class="fs-5 nav-item"><a href="#" class="dropdown-item action-reload"><i class="bi bi-arrow-clockwise"></i>&nbsp;{{trans 'reload'}}</a></li>
    <li class="fs-5 nav-item connected"><a href="#" class="dropdown-item dialog" data-bs-target="#dialog-shortcuts"><i class="bi bi-alt"></i>&nbsp;{{trans 'shortcuts'}}</a></li>
    <li><hr class="dropdown-divider"></li>
    <li class="fs-5 nav-item">
        <a href="#" class="dropdown-item" data-bs-theme-value="light"><i class="bi bi-brightness-high"></i>&nbsp;{{trans 'theme_light'}}</a>
    </li>
    <li class="fs-5 nav-item">
        <a href="#" class="dropdown-item" data-bs-theme-value="dark"><i class="bi bi-moon-stars-fill"></i>&nbsp;{{trans 'theme_dark'}}</a>
    </li>
    <li class="fs-5 nav-item">
        <a href="#" class="dropdown-item" data-bs-theme-value="auto"><i class="bi bi-circle-half"></i>&nbsp;{{trans 'theme_auto'}}</a>
    </li>
</script>

<script type="text/template" id="view-dialogs">
    <div class="modal fade" id="dialog-add_feed" tabindex="-1" aria-labelledby="{{trans 'add'}}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#feeds/recent" data-query="/feeds" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{trans 'title.add_feed'}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="title" class="form-label">{{trans 'field.title'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                        <input type="text" class="form-control" id="title" name="title" required value="">
                    </p>

                    <p>
                        <label for="link" class="form-label">{{trans 'link'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                        <input type="url" class="form-control" id="link" name="link" required value="">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'submit'}}</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialog-import_feed" tabindex="-1" aria-labelledby="{{trans 'import'}}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#feeds/recent" data-query="/feeds/import" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{trans 'title.import_feeds'}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="file" class="form-label">{{trans 'import_opml'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                        <input type="file" class="form-control" id="file" name="file" required>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'submit'}}</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialog-export_feed" tabindex="-1" aria-labelledby="{{trans 'export'}}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="#feeds/recent" data-query="/feeds/export" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{trans 'title.export_feeds'}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="choice" class="form-label">{{trans 'export_opml'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                        <select class="form-control" id="choice" name="choice" required>
                            <option value="your_subscriptions">{{trans 'your_subscriptions'}}</option>
                            <option value="all_feeds">{{trans 'all_feeds'}}</option>
                        </select>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'submit'}}</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialog-shortcuts" tabindex="-1" aria-labelledby="shortcuts" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{trans 'shortcuts'}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>{{trans 'shortcut_esc'}}</li>
                        <li>{{trans 'shortcut_help'}}</li>
                        <li>{{trans 'shortcut_r'}}</li>
                        <li>{{trans 'shortcut_t'}}</li>
                        <li>{{trans 'shortcut_k'}}</li>
                        <li>{{trans 'shortcut_j'}}</li>
                        <li>{{trans 'shortcut_v'}}</li>
                        <li>{{trans 'shortcut_m'}}</li>
                        <li>{{trans 'shortcut_s'}}</li>
                        <li>{{trans 'shortcut_g_then_a'}}</li>
                        <li>{{trans 'shortcut_g_then_u'}}</li>
                        <li>{{trans 'shortcut_g_then_s'}}</li>
                        <li>{{trans 'shortcut_g_then_f'}}</li>
                        <li>{{trans 'shortcut_shift_a'}}</li>
                        <li>{{trans 'shortcut_a'}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="view-401">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="error-401">
        <div class="mdl-card__supporting-text">
            <p>
                <a href="#login" class="load-route mdl-button btn btn-primary btn-sm">{{trans 'login'}}</a>
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="view-404">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="error-404">
        <div class="mdl-card__title mb-3">
            <h1 class="mdl-card__title-text fs-5">
                404
            </h1>
        </div>
    </div>
</script>

<script type="text/template" id="view-500">
    <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative" id="error-500">
        <div class="mdl-card__title mb-3">
            <h1 class="mdl-card__title-text fs-5">
                500
            </h1>
        </div>
    </div>
</script>

<script type="text/template" id="view-more">
    {{#if entries_page_next }}
        <div class="mdl-card shadow p-3 mb-3 bg-body-tertiary rounded-3 position-relative more" id="page-{{ entries_page_next }}">
            <div class="mdl-card__actions text-end mt-3 mdl-card--border">
                <a href="{{ current_key }}" data-page="{{ entries_page_next }}" data-q="{{ current_q }}" class="load-route more mdl-button btn btn-primary btn-sm">{{trans 'more'}}</a>
            </div>
        </div>
    {{/if}}
</script>

<script type="text/template" id="view-search-feeds">
    <div class="mdl-card row position-relative" id="search-feeds">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
            {{#if entries_total }}
                {{trans 'title.search_feeds'}} <span class="badge bg-light text-dark">{{ entries_total }}</span>
            {{else}}
                {{trans 'title.search_feeds'}}
            {{/if}}
            </h1>

            <form action="#feeds/search/result" method="GET" id="form-search-feeds">
                <p>
                    <label for="query" class="form-label">{{trans 'query'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                    <input type="text" class="form-control" id="query" name="filter[query]" required value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'search'}}</button>
                </p>
            </form>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#feeds/recent" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'button.recent_feeds'}}</a>
                <a href="#feeds/subscribed" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.subscribed_feeds'}}</a>
                <a href="#feeds/unsubscribed" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.unsubscribed_feeds'}}</a>
                <a href="#feeds/witherrors" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.feeds_witherrors'}}</a>
                <a href="#feeds/search" class="load-route mdl-button btn btn-secondary btn-sm online">{{trans 'button.search_feeds'}}</a>
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="view-search-categories">
    <div class="mdl-card row position-relative" id="search-categories">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
            {{#if entries_total }}
                {{trans 'title.search_categories'}} <span class="badge bg-light text-dark">{{ entries_total }}</span>
            {{else}}
                {{trans 'title.search_categories'}}
            {{/if}}
            </h1>

            <form action="#categories/search/result" method="GET" id="form-search-categories">
                <p>
                    <label for="query" class="form-label">{{trans 'query'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                    <input type="text" class="form-control" id="query" name="filter[query]" required value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'search'}}</button>
                </p>
            </form>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#categories/trendy" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'button.trendy_categories'}}</a>
                <a href="#categories/excluded" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.excluded_categories'}}</a>
                <a href="#categories/usedbyfeeds" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'button.categories_usedbyfeeds'}}</a>
                <a href="#categories/search" class="load-route mdl-button btn btn-secondary btn-sm online">{{trans 'button.search_categories'}}</a>
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="view-search-items">
    <div class="mdl-card row position-relative" id="search-items">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
            {{#if entries_total }}
                {{trans 'title.search_items'}} <span class="badge bg-light text-dark">{{ entries_total }}</span>
            {{else}}
                {{trans 'title.search_items'}}
            {{/if}}
            </h1>

            <form action="#items/search/result" method="GET" id="form-search-items">
                <p>
                    <label for="query" class="form-label">{{trans 'query'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                    <input type="text" class="form-control" id="query" name="filter[query]" required value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'search'}}</button>
                </p>
            </form>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#items/recent" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'button.recent_items'}}</a>
                <a href="#items/unread" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.unread_items'}}</a>
                <a href="#items/starred" class="load-route mdl-button btn btn-secondary btn-sm connected">{{trans 'button.starred_items'}}</a>
                <a href="#items/search" class="load-route mdl-button btn btn-secondary btn-sm online">{{trans 'button.search_items'}}</a>
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="view-search-authors">
    <div class="mdl-card row position-relative" id="search-authors">
        <div class="mdl-card__title col-xl-6 col-12">
            <h1 class="mdl-card__title-text fs-5">
            {{#if entries_total }}
                {{trans 'title.search_authors'}} <span class="badge bg-light text-dark">{{ entries_total }}</span>
            {{else}}
                {{trans 'title.search_authors'}}
            {{/if}}
            </h1>

            <form action="#authors/search/result" method="GET" id="form-search-authors">
                <p>
                    <label for="query" class="form-label">{{trans 'query'}} <small class="badge bg-secondary">{{trans 'required'}}</small></label>
                    <input type="text" class="form-control" id="query" name="filter[query]" required value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button btn btn-primary btn-lg">{{trans 'search'}}</button>
                </p>
            </form>
        </div>
        <div class="mdl-card__actions text-end mdl-card--border col-xl-6 col-12">
            <p>
                <a href="#authors/trendy" class="load-route mdl-button btn btn-secondary btn-sm">{{trans 'button.trendy_authors'}}</a>
                <a href="#authors/search" class="load-route mdl-button btn btn-secondary btn-sm online">{{trans 'button.search_authors'}}</a>
            </p>
        </div>
    </div>
</script>
