parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: readerself
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt

    elasticsearch_enabled: false
    elasticsearch_index: readerself
    elasticsearch_url: http://127.0.0.1:9200
    elasticsearch_username: false
    elasticsearch_password: false
    ssl_verify_peer: true

    facebook_enabled: false
    facebook_id: ~
    facebook_secret: ~

    evernote_enabled: false
    evernote_key: ~
    evernote_secret: ~
    evernote_sandbox: true

    ldap_enabled: false
    ldap_server: 'ldap://localhost'
    ldap_port: 389
    ldap_protocol: 3
    ldap_rootdn: 'cn=Manager,dc=my-domain,dc=com'
    ldap_rootpw: 'secret'
    ldap_basedn: 'dc=my-domain,dc=com'
    ldap_search_user: 'mail=[email]'
    ldap_search_group_admin: 'cn=admingroup'
