parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: readerself
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt

    google_cloud_messaging_enabled: false
    google_cloud_messaging_key: false

    google_static_maps_enabled: false
    google_static_maps_key: false

    elasticsearch_enabled: false
    elasticsearch_index: readerself
    elasticsearch_url: http://127.0.0.1:9200

    facebook_enabled: false
    facebook_id: ~
    facebook_secret: ~

    readability_parser_enabled: false
    readability_parser_key: ~

    evernote_enabled: false
    evernote_key: ~
    evernote_secret: ~
    evernote_sandbox: true
