parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: readerself
    database_user: root
    database_password: ~

    database_host_old: 127.0.0.1
    database_port_old: ~
    database_name_old: readerself
    database_user_old: root
    database_password_old: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ThisTokenIsNotSoSecretChangeIt

    google_cloud_messaging_enabled: false
    google_cloud_messaging_key: ~

    elasticsearch_enabled: false
    elasticsearch_index: readerself
    elasticsearch_url: http://127.0.0.1:9200

    facebook_enabled: false
    facebook_id: ~
    facebook_secret: ~

    evernote_enabled: false
    evernote_key: ~
    evernote_secret: ~
    evernote_sandbox: true
