a:link, a:visited {
    color: #757575;
}
.mdl-layout__header {
    min-height: auto;
}
.mdl-layout__drawer-button {
    height: auto;
    line-height: 1;
    padding: 5px 5px 5px 5px;
    width: auto;
}
.mdl-layout__header-row {
    height: auto;
}
.mdl-layout__header-row .mdl-button {
    margin: 5px 0px 5px 5px;
}
.mdl-list__item {
    padding: 8px;
}
.mdl-list__item a:link, .mdl-list__item a:visited {
    cursor: pointer;
    display: block;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}
.mdl-list__item a:hover {
    background-color: #e0e0e0;
}
.mdl-grid {
    width: inherit;
}
.mdl-card {
    min-height: inherit;
}
.mdl-card[direction="rtl"] {
    text-align: right;
}
.mdl-card__title {
    color: #757575;
    display: block;
    padding: 8px;
}
.mdl-card__title .mdl-card__title-text {
    font-size: 16px;
    margin-bottom: 4px;
}
.mdl-card[direction="rtl"] .mdl-card__title .mdl-card__title-text {
    display: block;
    text-align: right;
}
.mdl-card .mdl-card__actions {
    text-align: right;
}
.mdl-button {
    padding: 0px 8px;
    min-width: auto;
}
.mdl-button:focus:not(:active) {
    background-color: transparent;
}
.mdl-card__supporting-text {
    padding: 0px 8px 8px 8px;
    width: auto;
}
.mdl-card .mdl-navigation__link {
    float: left;
    font-weight: inherit;
    line-height: 1;
    margin: 4px 4px 4px 0px;
    white-space: nowrap;
}
.mdl-card[direction="rtl"] .mdl-navigation__link {
    float: right;
    margin: 4px 0px 4px 4px;
}
.mdl-menu__item {
    height: 16px;
    line-height: 16px;
    padding: 8px 4px;
}
.mdl-menu__item a:link, .mdl-menu__item a:visited {
    text-decoration: none;
}
.favicon, a.favicon:link, a.favicon:visited {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    padding-left: 16px;
}
h1 .favicon, h1.favicon, h1 a.favicon:link, h1 a.favicon:visited {
    background-size: 16px 16px;
    padding-left: 19px;
}

.material-icons {
    font-feature-settings: 'liga';
    text-rendering: optimizeLegibility;
    vertical-align: middle;
}
.mdl-card__subtitle-text .material-icons {
    font-size: 16px;
    margin-right: 2px;
}
img, iframe, video {
    max-width: 100%;
}
figure {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
label, .label {
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"], textarea {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    color: inherit;
    display: block;
    font-size: inherit;
    padding: 4px 0;
    text-align: left;
    width: 100%;
}
textarea {
    min-height: 250px;
}
input[type="text"][required="required"], input[type="email"][required="required"], input[type="password"][required="required"], input[type="url"][required="required"], textarea[required="required"] {
    border-color: #d50000;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0px 0px 0px 1000px #FFFFFF inset;
}

.mdl-card__supporting-text h1 {
    font-size: 17px;
    line-height: 1;
    margin: 15px 0px;
}
.mdl-card__supporting-text h2 {
    font-size: 16px;
    line-height: 1;
    margin: 10px 0px;
}
.mdl-card__supporting-text h3 {
    font-size: 15px;
    line-height: 1;
    margin: 10px 0px;
}
.mdl-card__supporting-text h4 {
    font-size: 14px;
    line-height: 1;
    margin: 10px 0px;
}
.mdl-card__supporting-text h5 {
    font-size: 13px;
    line-height: 1;
    margin: 10px 0px;
}
.mdl-card__supporting-text h6 {
    font-size: 12px;
    line-height: 1;
    margin: 10px 0px;
}
.mdl-card__supporting-text p {
    clear: both;
    line-height: 1.5;
    margin: 5px 0px;
}
.mdl-card__supporting-text em {
    font-style: italic;
}
.mdl-card__supporting-text strong {
    font-weight: bold;
}
.mdl-card__supporting-text blockquote {
    -webkit-margin-start: 10px;
    font-size: inherit;
}
.mdl-card__supporting-text blockquote:before {
    content: none;
}
.mdl-card__supporting-text blockquote:after {
    content: none;
}
.mdl-dialog__content {
    padding: 0px;
}

body.anonymous .connected {
    display: none;
}

body.connected .anonymous {
    display: none;
}

body.collapse .mdl-card__supporting-text {
    display: none;
}

body .mdl-card.collapse .mdl-card__supporting-text {
    display: none;
}

body .mdl-card.expand .mdl-card__supporting-text {
    display: block;
}
