body {
    overscroll-behavior-y: none;
}
main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    position: relative;
}
.favicon, a.favicon:link, a.favicon:visited {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    padding-left: 16px;
}
.mdl-card[dir="rtl"] .favicon, .mdl-card[dir="rtl"] a.favicon:link, .mdl-card[dir="rtl"] a.favicon:visited {
    background-position: center right;
    padding-left: 0px;
    padding-right: 16px;
}
h1 .favicon, h1.favicon, h1 a.favicon:link, h1 a.favicon:visited {
    background-size: 16px 16px;
    padding-left: 19px;
}
.mdl-card[dir="rtl"] h1 .favicon, .mdl-card[dir="rtl"] h1.favicon, .mdl-card[dir="rtl"] h1 a.favicon:link, .mdl-card[dir="rtl"] h1 a.favicon:visited {
    padding-left: 0px;
    padding-right: 19px;
}

img, iframe, video {
    max-width: 100%;
}
figure {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
textarea {
    min-height: 250px;
}

body.anonymous .connected {
    display: none;
}
body.connected .anonymous {
    display: none;
}

body.online .offline {
    display: none;
}
body.offline .online {
    display: none;
}

body.not_administrator .administrator {
    display: none;
}
body.administrator .not_administrator {
    display: none;
}

body.no_entries .action-down, body.no_entries .action-up, body.no_entries .action-unread {
    display: none;
}

body.collapse .mdl-card__supporting-text {
    display: none;
}

body .mdl-card.collapse .mdl-card__supporting-text {
    display: none;
}

body .mdl-card.expand .mdl-card__supporting-text {
    display: block;
}
