<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
<meta charset="utf-8">
<title>Feed</title>
<meta name="robots" content="noindex, nofollow, noarchive">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta name="HandheldFriendly" content="true">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#3f51b5">
<link rel="icon" sizes="192x192" href="/app/images/icon-192x192.png">
<link rel="icon" sizes="512x512" href="/app/images/icon-512x512.png">
<link rel="apple-touch-icon" sizes="512x512" href="/app/images/icon-512x512.png">
<link rel="apple-touch-icon-precomposed" sizes="512x512" href="/app/images/icon-512x512.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<body class="anonymous online not_administrator no_entries">

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container top-0 end-0 p-3">
    </div>
</div>

<nav class="navbar navbar-expand-lg fixed-bottom bg-body-tertiary">
    <div class="container-fluid">
        <div class="dropup">
            <button class="btn btn-lg dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-label="Menu left" aria-expanded="false">
                <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu" id="menu-left">
            </ul>
        </div>

        <div class="mdl-navigation btn-group" role="group" aria-label="Basic example">
        </div>

        <div class="dropup">
            <button class="btn btn-lg dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-label="Menu right" aria-expanded="false">
                <i class="bi bi-gear-fill"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" id="menu-right">
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <main class="mdl-layout__content mt-3 row">
        <div class="mdl-grid col-12" id="top">
            <div class="text-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>
        </div>
    </main>
</div>

{% block javascripts %}
    <script type="text/javascript">
        var applicationServerKey = '{{ vapidPublicKey }}';
    </script>
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
</body>
</html>
