<script type="text/template" id="view-categories">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="title-entries">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans current_title}} ({{ entries_total }})
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#categories" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.all_categories'}}</a>
            <a href="#categories/recent" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.recent_categories'}}</a>
            <a href="#categories/excluded" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.excluded_categories'}}</a>
            <a href="#categories/feed" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.categories_usedbyfeeds'}}</a>
            <a href="#search/categories" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.search_categories'}}</a>
        </div>
    </div>
</script>

<script type="text/template" id="view-categories-unit">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="category-{{ entry.id }}">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                <a href="#category/read/{{ entry.id }}" class="load-route">{{{ entry.title }}}</a>
            </h1>
            <div class="mdl-card__subtitle-text">
                <span class="mdl-navigation__link"><i class="material-icons">access_time</i><span class="timeago" title="{{ entry.date_created }}"></span></span>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#items/category/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'view_items'}}</a>
            <a href="#feeds/category/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'view_feeds'}}</a>
            {{#if entry.exclude }}
                <a href="#category/exclude/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'include'}}</a>
            {{else}}
                <a href="#category/exclude/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'exclude'}}</a>
            {{/if}}
        </div>
    </div>
</script>

<script type="text/template" id="view-category-read">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="category">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans 'title.all_categories'}}
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#categories" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.all_categories'}}</a>
            <a href="#categories/recent" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.recent_categories'}}</a>
            <a href="#categories/excluded" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.excluded_categories'}}</a>
            <a href="#categories/feed" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.categories_usedbyfeeds'}}</a>
            <a href="#search/categories" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.search_categories'}}</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="category-form">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{ entry.title }}
            </h1>
            <div class="mdl-card__subtitle-text">
                <span class="mdl-navigation__link"><i class="material-icons">access_time</i><span class="timeago" title="{{ entry.date_created }}"></span></span>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#items/category/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'view_items'}}</a>
            <a href="#feeds/category/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'view_feeds'}}</a>
            {{#if entry.exclude }}
                <a href="#category/exclude/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'include'}}</a>
            {{else}}
                <a href="#category/exclude/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'exclude'}}</a>
            {{/if}}
        </div>
    </div>
</script>
