<!-- Feed -->
<script type="text/template" id="view-feeds">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans current_title}} ({{ entries_total }})
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#feed/create" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'create'}}</a>
            <a href="#feed/export" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'export'}}</a>
        </div>
    </div>
</script>

<script type="text/template" id="view-feeds-unit">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                <a href="#feed/read/{{ entry.id }}" class="load-route favicon"{{#if entry.hostname }} style="background-image:url(https://www.google.com/s2/favicons?domain={{ entry.hostname }}&amp;alt=feed);"{{/if}}>{{ entry.title }}</a>
            </h1>
            <div class="mdl-card__subtitle-text">
                <a href="#items/feed/{{ entry.id }}" class="load-route mdl-navigation__link"><i class="material-icons">link</i>{{trans 'all_items'}}</a>
                {{#if entry.language }}<span class="mdl-navigation__link"><i class="material-icons">language</i>{{ entry.language }}</span>{{/if}}
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            {{#if entry.subscription }}
                <a href="#feed/subscribe/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'unsubscribe'}}</a>
            {{else}}
                <a href="#feed/subscribe/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'subscribe'}}</a>
            {{/if}}
            <a href="#feed/update/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'update'}}</a>
            <a href="#feed/delete/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'delete'}}</a>
        </div>
    </div>
</script>

<script type="text/template" id="view-feed-create">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <form action="#feeds" data-query="/feed" method="POST">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{trans 'all_feeds'}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="title" class="required">{{trans 'title'}}</label>
                    <input type="text" id="title" name="title" required="required" value="">
                </p>
                <p>
                    <label for="title" class="required">{{trans 'link'}}</label>
                    <input type="url" id="link" name="link" required="required" value="">
                </p>
                <p>
                    <label for="website" class="required">{{trans 'website'}}</label>
                    <input type="url" id="website" name="website" required="required" value="">
                </p>
                <p>
                    <label for="language" class="required">{{trans 'language'}}</label>
                    <input type="text" id="language" name="language" value="">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'create'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#feeds" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'back'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-feed-read">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans 'all_feeds'}}
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#feeds" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'back'}}</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card__title">
            <h1 class="favicon mdl-card__title-text"{{#if entry.hostname }} style="background-image:url(https://www.google.com/s2/favicons?domain={{ entry.hostname }}&amp;alt=feed);"{{/if}}>
                {{ entry.title }}
            </h1>
            <div class="mdl-card__subtitle-text">
                <a href="#items/feed/{{ entry.id }}" class="load-route mdl-navigation__link"><i class="material-icons">link</i>{{trans 'all_items'}}</a>
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                <span class="label">{{trans 'link'}}</span>
                <a href="{{ entry.link }}" target="_blank">{{ entry.link }}</a>
            </p>
            <p>
                <span class="label">{{trans 'website'}}</span>
                <a href="{{ entry.website }}" target="_blank">{{ entry.website }}</a>
            </p>
            {{#if entry.description }}
            <p>
                <span class="label">{{trans 'description'}}</span>
                {{ entry.description }}
            </p>
            {{/if}}
            {{#if entry.language }}
            <p>
                <span class="label">{{trans 'language'}}</span>
                {{ entry.language }}
            </p>
            {{/if}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            {{#if entry.subscription }}
                <a href="#feed/subscribe/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'unsubscribe'}}</a>
            {{else}}
                <a href="#feed/subscribe/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'subscribe'}}</a>
            {{/if}}
            <a href="#feed/update/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'update'}}</a>
            <a href="#feed/delete/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'delete'}}</a>
        </div>
    </div>

    {{#each entry.collections as |collection collection_index|}}
        {{#if collection.error }}
            <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text">
                        {{ collection.date_created }}
                    </h1>
                </div>
                <div class="mdl-card__supporting-text">
                        <p>
                            <span class="label">{{trans 'error'}}</span>
                            {{ collection.error }}</a>
                        </p>
                </div>
            </div>
        {{/if}}
    {{/each}}
</script>

<script type="text/template" id="view-feed-update">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans 'all_feeds'}}
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#feed/read/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'back'}}</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <form action="#feed/read/{{ entry.id }}" data-query="/feed/{{ entry.id }}" method="PUT">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <a href="#feed/read/{{ entry.id }}" class="load-route favicon"{{#if entry.hostname }} style="background-image:url(https://www.google.com/s2/favicons?domain={{ entry.hostname }}&amp;alt=feed);"{{/if}}>{{ entry.title }}</a>
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="title" class="required">{{trans 'title'}}</label>
                    <input type="text" id="title" name="title" required="required" value="{{ entry.title }}">
                </p>
                <p>
                    <label for="title" class="required">{{trans 'link'}}</label>
                    <input type="url" id="link" name="link" required="required" value="{{ entry.link }}">
                </p>
                <p>
                    <label for="website" class="required">{{trans 'website'}}</label>
                    <input type="url" id="website" name="website" required="required" value="{{ entry.website }}">
                </p>
                <p>
                    <label for="language" class="required">{{trans 'language'}}</label>
                    <input type="text" id="language" name="language" value="{{ entry.language }}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'update'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#feed/delete/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'delete'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-feed-delete">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans 'all_feeds'}}
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#feed/read/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'back'}}</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <form action="#feeds" data-query="/feed/{{ entry.id }}" method="DELETE">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <a href="#feed/read/{{ entry.id }}" class="load-route favicon"{{#if entry.hostname }} style="background-image:url(https://www.google.com/s2/favicons?domain={{ entry.hostname }}&amp;alt=feed);"{{/if}}>{{ entry.title }}</a>
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'delete'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#feed/update/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'update'}}</a>
            </div>
        </form>
    </div>
</script>
