<!-- Folder -->
<script type="text/template" id="view-folders">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans 'folders'}} ({{ entries_total }})
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folder/create" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'create'}}</a>
        </div>
    </div>

    {{#each entries as |entry entry_index|}}
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <a href="#folder/read/{{ entry.id }}" class="load-route">{{ entry.title }}</a>
                </h1>
                <div class="mdl-card__subtitle-text">
                    <a href="#items/folder/{{ entry.id }}" class="load-route mdl-navigation__link"><i class="material-icons md-16">link</i>{{trans 'items'}}</a>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#items/folder/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'items'}}</a>
                <a href="#folder/update/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'update'}}</a>
                <a href="#folder/delete/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'delete'}}</a>
            </div>
        </div>
    {{/each}}
</script>

<script type="text/template" id="view-folder-create">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <form action="#folders" data-query="/folder" method="POST">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{trans 'folders'}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="title" class="required">{{trans 'title'}}</label>
                    <input type="text" id="title" name="title" required="required" value="">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'create'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#folders" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'back'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-folder-read">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans 'folders'}}
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folders" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'back'}}</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{ entry.title }}
            </h1>
            <div class="mdl-card__subtitle-text">
                <a href="#items/folder/{{ entry.id }}" class="load-route mdl-navigation__link"><i class="material-icons md-16">link</i>{{trans 'items'}}</a>
            </div>
        </div>
        <div class="mdl-card__supporting-text">
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folder/update/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'update'}}</a>
            <a href="#folder/delete/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'delete'}}</a>
        </div>
    </div>
</script>

<script type="text/template" id="view-folder-update">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans 'folders'}}
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folder/read/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'back'}}</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <form action="#folder/read/{{ entry.id }}" data-query="/folder/{{ entry.id }}" method="PUT">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{ entry.title }}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="title" class="required">{{trans 'title'}}</label>
                    <input type="text" id="title" name="title" required="required" value="{{ entry.title }}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'update'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#folder/delete/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'delete'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-folder-delete">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans 'folders'}}
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folder/read/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'back'}}</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <form action="#folders" data-query="/folder/{{ entry.id }}" method="DELETE">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{ entry.title }}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'delete'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#folder/update/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'update'}}</a>
            </div>
        </form>
    </div>
</script>
