<!-- Folder -->
<script type="text/template" id="view-folders">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Folders
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folder/create" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Create</a>
        </div>
    </div>

    {{#each entries as |entry entry_index|}}
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <a href="#folder/read/{{ entry.id }}" class="load-route">{{ entry.title }}</a>
                </h1>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#items/folder/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Items</a>
                <a href="#folder/update/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Update</a>
                <a href="#folder/delete/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</a>
            </div>
        </div>
    {{/each}}
</script>

<script type="text/template" id="view-folder-create">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <form action="#folders" data-path="/folder" method="POST">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    Folders
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="title" class="required">Title</label>
                    <input type="text" id="title" name="title" required="required" value="">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">Create</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#folders" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Back</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-folder-read">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Folders
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folders" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Back</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{ entry.title }}
            </h1>
        </div>
        <div class="mdl-card__supporting-text">
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folder/update/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Update</a>
            <a href="#folder/delete/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</a>
        </div>
    </div>
</script>

<script type="text/template" id="view-folder-update">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Folders
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folder/read/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Back</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <form action="#folder/read/{{ entry.id }}" data-path="/folder/{{ entry.id }}" method="PUT">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{ entry.title }}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="title" class="required">Title</label>
                    <input type="text" id="title" name="title" required="required" value="{{ entry.title }}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">Update</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#folder/delete/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-folder-delete">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Folders
            </h1>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#folder/read/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Back</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <form action="#folders" data-path="/folder/{{ entry.id }}" method="DELETE">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{ entry.title }}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">Delete</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#folder/update/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Update</a>
            </div>
        </form>
    </div>
</script>
