<!-- Item -->
<script type="text/template" id="view-items">
    {{#if entry }}
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{ entry.title }} ({{trans entry_entity}})
                </h1>
            </div>
        </div>
    {{/if}}

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{trans 'items'}} ({{ entries_total }})
            </h1>
        </div>
    </div>

    {{#each entries as |entry entry_index|}}
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    <a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a>
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    Feed: <a href="#items/feed/{{ entry.feed.id }}" class="load-route">{{ entry.feed.title }}</a>
                </p>

                {{#if entry.categories }}
                    <p>Categories:
                    {{#each entry.categories as |category category_index|}}
                        <a href="#items/category/{{ category.id }}" class="load-route">{{ category.title }}</a>
                    {{/each}}
                    </p>
                {{/if}}

                {{#if entry.enclosures }}
                    {{#each entry.enclosures as |enclosure enclosure_index|}}
                        <p>{{ enclosure.link }}</p>
                    {{/each}}
                {{/if}}

                {{#if entry.author }}
                    <p>
                        Author: <a href="#items/author/{{ entry.author.id }}" class="load-route">{{ entry.author.title }}</a>
                    </p>
                {{/if}}

                {{#if entry.latitude }}
                    {{#if entry.longitude }}
                        <div class="item-geolocation">
                            <p><a target="_blank" href="https://maps.google.com/maps?q={{ entry.latitude }},{{ entry.longitude }}&oe=UTF-8&ie=UTF-8"><i class="material-icons md-18">place</i>{{ entry.latitude }},{{ entry.longitude }}</a></p>
                            <p><a target="_blank" href="https://maps.google.com/maps?q={{ entry.latitude }},{{ entry.longitude }}&oe=UTF-8&ie=UTF-8"><img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyC2Yj-jJHl3HPa1P9bGllAH_l436GdhcN4&center={{ entry.latitude }},{{ entry.longitude }}&markers=color:red|{{ entry.latitude }},{{ entry.longitude }}&zoom=12&size=540x200&sensor=false" alt=""></a></p>
                        </div>
                    {{/if}}
                {{/if}}

                {{#if entry.socials }}
                    <p>Socials:
                    {{#each entry.socials as |social social_index|}}
                        <a href="{{ social.link }}" target="_blank">{{ social.title }}</a>
                    {{/each}}
                    </p>
                {{/if}}

                {{#if entry.actions }}
                    <p>Actions:
                    {{#each entry.actions as |action action_index|}}
                        {{ action.title }}</a>
                    {{/each}}
                    </p>
                {{/if}}

                {{{ entry.content }}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#item/read/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Read</a>
                <a href="#item/star/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Star</a>
                <a href="#item/share/{{ entry.id }}" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Share</a>
            </div>
        </div>
    {{/each}}
</script>
