<script type="text/template" id="view-login">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="login">
        <form action="#items/unread" data-query="/login" method="POST">
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="email" class="required">{{trans 'email'}}</label>
                    <input type="email" id="email" name="email" required="required" value="">
                </p>
                <p>
                    <label for="password" class="required">{{trans 'password'}}</label>
                    <input type="password" id="password" name="password" required="required" value="">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'login'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#forgotpassword" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'forgotpassword'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-profile">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="profile">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{ entry.email }}
            </h1>
            <div class="mdl-card__subtitle-text">
                <span class="mdl-navigation__link"><i class="material-icons">access_time</i><span class="timeago" title="{{ entry.date_created }}"></span></span>
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            {{#if entry.nickname }}
            <p>
                <span class="label">{{trans 'nickname'}}</span>
                {{ entry.nickname }}
            </p>
            {{/if}}
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#profile" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'profile'}}</a>
            <a href="#profile/connections" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'connections'}}</a>
            <a href="#profile/notifications" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'notifications'}}</a>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone online" id="profile-update">
        <form action="#profile" data-query="/profile/update" method="PUT">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{trans 'profile'}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="email" class="required">{{trans 'email'}}</label>
                    <input type="email" id="email" name="email" required="required" value="{{ entry.email }}">
                </p>
                <p>
                    <label for="password">{{trans 'password'}}</label>
                    <input type="password" id="password" name="password" value="">
                </p>
                <p>
                    <label for="passwordConfirm">{{trans 'password_confirm'}}</label>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" value="">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'update'}}</button>
                </p>
            </div>
        </form>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone online" id="profile-pinboard">
        <form action="#profile" data-query="/pinboard" method="POST">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    Pinboard
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Go to your <a href="https://pinboard.in/settings/password" target="_blank">settings page</a> on Pinboard to get your API Token.</p>
                <p>
                    <label for="token" class="required">{{trans 'token'}}</label>
                    <input type="text" id="token" name="token" required="required" value="">
                </p>
                <p>
                    {{#if pinboard }}
                        <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'update'}}</button>
                    {{else}}
                        <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'add'}}</button>
                    {{/if}}
                </p>
            </div>
        </form>
        {{#if pinboard }}
            <div class="mdl-card__actions mdl-card--border">
                <form action="#profile" data-query="/connection/{{ pinboard.id }}" method="DELETE">
                    <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'delete'}}</button>
                </form>
            </div>
        {{/if}}
    </div>
</script>

<script type="text/template" id="view-profile-connections">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="profile-connections">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{ entry.email }}
            </h1>
            <div class="mdl-card__subtitle-text">
                <span class="mdl-navigation__link"><i class="material-icons">access_time</i><span class="timeago" title="{{ entry.date_created }}"></span></span>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#profile" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'profile'}}</a>
            <a href="#profile/connections" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'connections'}}</a>
            <a href="#profile/notifications" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'notifications'}}</a>
        </div>
    </div>

    {{#each entries as |connection connection_index|}}
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="connection-{{ connection.id }}">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{ connection.type }}
                </h1>
                <div class="mdl-card__subtitle-text">
                    <span class="mdl-navigation__link"><i class="material-icons">access_time</i><span class="timeago" title="{{ connection.date_modified }}"></span></span>
                    <span class="mdl-navigation__link"><i class="material-icons md-16">settings_ethernet</i>{{ connection.ip }}</span>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                {{ connection.agent }}
            </div>
            <div class="mdl-card__actions mdl-card--border online">
                <form action="#profile/connections" data-query="/connection/{{ connection.id }}" method="DELETE">
                    <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'delete'}}</button>
                </form>
            </div>
        </div>
    {{/each}}
</script>

<script type="text/template" id="view-profile-notifications">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="profile-notifications">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                {{ entry.email }}
            </h1>
            <div class="mdl-card__subtitle-text">
                <span class="mdl-navigation__link"><i class="material-icons">access_time</i><span class="timeago" title="{{ entry.date_created }}"></span></span>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="#profile" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'profile'}}</a>
            <a href="#profile/connections" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'connections'}}</a>
            <a href="#profile/notifications" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'notifications'}}</a>
        </div>
    </div>

    {{#each entries as |notification notification_index|}}
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="notification-{{ connection.id }}">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{ notification.hostname }}
                </h1>
                <div class="mdl-card__subtitle-text">
                    <span class="mdl-navigation__link"><i class="material-icons">access_time</i><span class="timeago" title="{{ notification.date_modified }}"></span></span>
                    <span class="mdl-navigation__link"><i class="material-icons md-16">settings_ethernet</i>{{ notification.ip }}</span>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                {{ notification.agent }}
            </div>
            <div class="mdl-card__actions mdl-card--border online">
                <form action="#profile/notifications" data-query="/push/{{ notification.id }}" method="DELETE">
                    <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'delete'}}</button>
                </form>
            </div>
        </div>
    {{/each}}
</script>
