<!-- Misc. -->
<script type="text/template" id="view-aside">
    <ul class="mdl-list">
        <li class="mdl-list__item"><a href="#items" class="load-route" title="{{trans 'shortcut_g_then_a'}}">{{trans 'title.all_items'}}</a></li>
        <li class="mdl-list__item connected"><a href="#items/unread" class="load-route" title="{{trans 'shortcut_g_then_u'}}">{{trans 'title.unread_items'}}</a></li>
        <li class="mdl-list__item connected"><a href="#items/starred" class="load-route" title="{{trans 'shortcut_g_then_s'}}">{{trans 'title.starred_items'}}</a></li>

        <li class="mdl-list__item"><a href="#feeds" class="load-route">{{trans 'title.all_feeds'}}</a></li>
        <li class="mdl-list__item connected"><a href="#feeds/subscribed" class="load-route">{{trans 'title.subscribed_feeds'}}</a></li>
        <li class="mdl-list__item connected"><a href="#feeds/not_subscribed" class="load-route">{{trans 'title.unsubscribed_feeds'}}</a></li>
        <li class="mdl-list__item connected"><a href="#feeds/errors" class="load-route">{{trans 'title.feeds_witherrors'}}</a></li>

        <li class="mdl-list__item"><a href="#categories" class="load-route">{{trans 'title.all_categories'}}</a></li>
        <li class="mdl-list__item connected"><a href="#categories/excluded" class="load-route">{{trans 'title.excluded_categories'}}</a></li>

        <li class="mdl-list__item connected"><a href="#profile" class="load-route">{{trans 'profile'}}</a>
        <li class="mdl-list__item connected"><a href="#logout" class="load-route">{{trans 'logout'}}</a>
    </ul>
</script>

<script type="text/template" id="view-401">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col">
        <div class="mdl-card__supporting-text">
            <p>
                <a href="#login" class="load-route mdl-button mdl-color--pink mdl-color-text--white">{{trans 'login'}}</a>
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="view-404">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                404
            </h1>
        </div>
    </div>
</script>

<script type="text/template" id="view-500">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                500
            </h1>
        </div>
    </div>
</script>

<script type="text/template" id="view-more">
    {{#if entries_page_next }}
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col more" id="page-{{ entries_page_next }}">
            <div class="mdl-card__actions mdl-card--border">
                <a href="{{ current_key }}" data-page="{{ entries_page_next }}" data-q="{{ current_q }}" class="load-route more mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'more'}}</a>
            </div>
        </div>
    {{/if}}
</script>

<script type="text/template" id="view-search-feeds">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <form action="" method="GET" id="form-search-feeds">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                {{#if entries_total }}
                    {{trans 'title.search_feeds'}} ({{ entries_total }})
                {{else}}
                    {{trans 'title.search_feeds'}}
                {{/if}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="q" class="required">{{trans 'q'}}</label>
                    <input type="text" id="q" name="q" required="required" value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'search'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#feeds" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.all_feeds'}}</a>
                <a href="#feeds/recent" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.recent_feeds'}}</a>
                <a href="#feeds/subscribed" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.subscribed_feeds'}}</a>
                <a href="#feeds/not_subscribed" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.unsubscribed_feeds'}}</a>
                <a href="#feeds/errors" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.feeds_witherrors'}}</a>
                <a href="#search/feeds" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.search_feeds'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-search-categories">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <form action="" method="GET" id="form-search-categories">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                {{#if entries_total }}
                    {{trans 'title.search_categories'}} ({{ entries_total }})
                {{else}}
                    {{trans 'title.search_categories'}}
                {{/if}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="q" class="required">{{trans 'q'}}</label>
                    <input type="text" id="q" name="q" required="required" value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'search'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#categories" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.all_categories'}}</a>
                <a href="#categories/excluded" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.excluded_categories'}}</a>
                <a href="#categories/feed" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.categories_usedbyfeeds'}}</a>
                <a href="#search/categories" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.search_categories'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-search-items">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <form action="" method="GET" id="form-search-items">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                {{#if entries_total }}
                    {{trans 'title.search_items'}} ({{ entries_total }})
                {{else}}
                    {{trans 'title.search_items'}}
                {{/if}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="q" class="required">{{trans 'q'}}</label>
                    <input type="text" id="q" name="q" required="required" value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'search'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#items" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.all_items'}}</a>
                <a href="#items/unread" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.unread_items'}}</a>
                <a href="#items/starred" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.starred_items'}}</a>
                <a href="#search/items" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.search_items'}}</a>
            </div>
        </form>
    </div>
</script>
