<!-- Misc. -->
<script type="text/template" id="view-aside">
    <ul class="mdl-list">
        <li class="mdl-list__item"><a href="#items/all" class="load-route">{{trans 'all_items'}}</a></li>
        <li class="mdl-list__item"><a href="#items/unread" class="load-route">{{trans 'unread_items'}}</a></li>
        <li class="mdl-list__item"><a href="#items/starred" class="load-route">{{trans 'starred_items'}}</a></li>

        <li class="mdl-list__item"><a href="#feeds" class="load-route">{{trans 'all_feeds'}}</a></li>
        <li class="mdl-list__item"><a href="#feeds/subscribed" class="load-route">{{trans 'subscribed_feeds'}}</a></li>
        <li class="mdl-list__item"><a href="#feeds/not_subscribed" class="load-route">{{trans 'unsubscribed_feeds'}}</a></li>
        <li class="mdl-list__item"><a href="#feeds/errors" class="load-route">{{trans 'feeds_errors'}}</a></li>

        <li class="mdl-list__item"><a href="#search/feeds" class="load-route">{{trans 'search_feeds'}}</a></li>
        <li class="mdl-list__item"><a href="#search/items" class="load-route">{{trans 'search_items'}}</a></li>

        <li class="mdl-list__item"><a href="#profile" class="load-route">{{trans 'profile'}}</a>
        <li class="mdl-list__item"><a href="#logout" class="load-route">{{trans 'logout'}}</a>
    </ul>
</script>

<script type="text/template" id="view-login">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col">
        <form action="#items/unread" data-query="/login" method="POST">
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="email" class="required">{{trans 'email'}}</label>
                    <input type="email" id="email" name="email" required="true" value="">
                </p>
                <p>
                    <label for="password" class="required">{{trans 'password'}}</label>
                    <input type="password" id="password" name="password" required="true" value="">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'login'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#forgotpassword" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'forgotpassword'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-logout">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col">
        <form action="#login" data-query="/logout" method="POST">
            <div class="mdl-card__supporting-text">
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'logout'}}</button>
                </p>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-profile">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col">
        <form action="#items/unread" data-query="/login" method="POST">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    {{trans 'profile'}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="email" class="required">{{trans 'email'}}</label>
                    <input type="email" id="email" name="email" required="true" value="">
                </p>
                <p>
                    <label for="password" class="required">{{trans 'password'}}</label>
                    <input type="password" id="password" name="password" required="true" value="">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'update'}}</button>
                </p>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-401">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col">
        <div class="mdl-card__supporting-text">
            <p>
                <a href="#login" class="load-route mdl-button mdl-color--pink mdl-color-text--white">{{trans 'login'}}</a>
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="view-404">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                404
            </h1>
        </div>
    </div>
</script>

<script type="text/template" id="view-500">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                500
            </h1>
        </div>
    </div>
</script>

<script type="text/template" id="view-more">
    {{#if entries_page_next }}
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
            <div class="mdl-card__actions mdl-card--border">
                <a href="{{ current_key }}" data-page="{{ entries_page_next }}" class="load-route more mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'more'}}</a>
            </div>
        </div>
    {{/if}}
</script>

<script type="text/template" id="view-search-feeds">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <form action="" method="GET" id="form-search-feeds">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                {{#if entries_total }}
                    {{trans 'search'}} ({{ entries_total }})
                {{else}}
                    {{trans 'search'}}
                {{/if}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="q" class="required">{{trans 'q'}}</label>
                    <input type="text" id="q" name="q" required="true" value="">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'search'}}</button>
                </p>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-search-items">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
        <form action="" method="GET" id="form-search-items">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                {{#if entries_total }}
                    {{trans 'search'}} ({{ entries_total }})
                {{else}}
                    {{trans 'search'}}
                {{/if}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="q" class="required">{{trans 'q'}}</label>
                    <input type="text" id="q" name="q" required="true" value="">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'search'}}</button>
                </p>
            </div>
        </form>
    </div>
</script>
