<script type="text/template" id="view-navigation">
    <a href="#login" class="load-route anonymous mdl-button mdl-color-text--white">{{trans 'login'}}</a>

    <a href="#" class="action-refresh connected mdl-button mdl-color-text--white" title="r">{{trans 'refresh'}}</a>
    <a href="#" class="action-up mdl-button mdl-color-text--white" title="k">{{trans 'up'}}</a>
    <a href="#" class="action-down mdl-button mdl-color-text--white" title="j">{{trans 'down'}}</a>
    <a href="#" class="action-top connected mdl-button mdl-color-text--white" title="k">{{trans 'top'}}</a>
</script>

<script type="text/template" id="view-aside">
    <ul class="mdl-list">
        <li class="mdl-list__item"><a href="#items" class="load-route" title="{{trans 'shortcut_g_then_a'}}">{{trans 'title.all_items'}}</a></li>
        <li class="mdl-list__item connected"><a href="#items/unread" class="load-route" title="{{trans 'shortcut_g_then_u'}}">{{trans 'title.unread_items'}}</a></li>
        <li class="mdl-list__item connected"><a href="#items/starred" class="load-route" title="{{trans 'shortcut_g_then_s'}}">{{trans 'title.starred_items'}}</a></li>

        <li class="mdl-list__item"><a href="#feeds" class="load-route">{{trans 'title.all_feeds'}}</a></li>
        <li class="mdl-list__item connected"><a href="#feeds/subscribed" class="load-route">{{trans 'title.subscribed_feeds'}}</a></li>
        <li class="mdl-list__item connected"><a href="#feeds/witherrors" class="load-route">{{trans 'title.feeds_witherrors'}}</a></li>

        <li class="mdl-list__item"><a href="#categories" class="load-route">{{trans 'title.all_categories'}}</a></li>

        <li class="mdl-list__item"><a href="#authors" class="load-route">{{trans 'title.all_authors'}}</a></li>

        <li class="mdl-list__item connected"><a href="#profile" class="load-route">{{trans 'profile'}}</a>
        <li class="mdl-list__item connected administartor"><a href="#status" class="load-route">{{trans 'status'}}</a>
        <li class="mdl-list__item connected"><a href="#logout" class="load-route">{{trans 'logout'}}</a>
    </ul>
</script>

<script type="text/template" id="view-401">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="error-401">
        <div class="mdl-card__supporting-text">
            <p>
                <a href="#login" class="load-route mdl-button mdl-color--pink mdl-color-text--white">{{trans 'login'}}</a>
            </p>
        </div>
    </div>
</script>

<script type="text/template" id="view-404">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="error-404">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                404
            </h1>
        </div>
    </div>
</script>

<script type="text/template" id="view-500">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="error-500">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                500
            </h1>
        </div>
    </div>
</script>

<script type="text/template" id="view-more">
    {{#if entries_page_next }}
        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col more" id="page-{{ entries_page_next }}">
            <div class="mdl-card__actions mdl-card--border">
                <a href="{{ current_key }}" data-page="{{ entries_page_next }}" data-q="{{ current_q }}" class="load-route more mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'more'}}</a>
            </div>
        </div>
    {{/if}}
</script>

<script type="text/template" id="view-search-feeds">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="search-feeds">
        <form action="#feeds/search/result" method="GET" id="form-search-feeds">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                {{#if entries_total }}
                    {{trans 'title.search_feeds'}} ({{ entries_total }})
                {{else}}
                    {{trans 'title.search_feeds'}}
                {{/if}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="q" class="required">{{trans 'q'}}</label>
                    <input type="text" id="q" name="q" required="required" value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'search'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#feeds" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.all_feeds'}}</a>
                <a href="#feeds/recent" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.recent_feeds'}}</a>
                <a href="#feeds/subscribed" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.subscribed_feeds'}}</a>
                <a href="#feeds/unsubscribed" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.unsubscribed_feeds'}}</a>
                <a href="#feeds/witherrors" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.feeds_witherrors'}}</a>
                <a href="#feeds/search" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect online">{{trans 'button.search_feeds'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-search-categories">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="search-categories">
        <form action="#categories/search/result" method="GET" id="form-search-categories">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                {{#if entries_total }}
                    {{trans 'title.search_categories'}} ({{ entries_total }})
                {{else}}
                    {{trans 'title.search_categories'}}
                {{/if}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="q" class="required">{{trans 'q'}}</label>
                    <input type="text" id="q" name="q" required="required" value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'search'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#categories" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.all_categories'}}</a>
                <a href="#categories/recent" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.recent_categories'}}</a>
                <a href="#categories/excluded" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.excluded_categories'}}</a>
                <a href="#categories/usedbyfeeds" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.categories_usedbyfeeds'}}</a>
                <a href="#categories/search" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect online">{{trans 'button.search_categories'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-search-items">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="search-items">
        <form action="#items/search/result" method="GET" id="form-search-items">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                {{#if entries_total }}
                    {{trans 'title.search_items'}} ({{ entries_total }})
                {{else}}
                    {{trans 'title.search_items'}}
                {{/if}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="q" class="required">{{trans 'q'}}</label>
                    <input type="text" id="q" name="q" required="required" value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'search'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#items" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.all_items'}}</a>
                <a href="#items/unread" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.unread_items'}}</a>
                <a href="#items/starred" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect connected">{{trans 'button.starred_items'}}</a>
                <a href="#items/search" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect online">{{trans 'button.search_items'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-search-authors">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" id="search-authors">
        <form action="#authors/search/result" method="GET" id="form-search-authors">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                {{#if entries_total }}
                    {{trans 'title.search_authors'}} ({{ entries_total }})
                {{else}}
                    {{trans 'title.search_authors'}}
                {{/if}}
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <label for="q" class="required">{{trans 'q'}}</label>
                    <input type="text" id="q" name="q" required="required" value="{{#if current_q }}{{ current_q }}{{/if}}">
                </p>
                <p>
                    <button type="submit" class="mdl-button mdl-color--pink mdl-color-text--white">{{trans 'search'}}</button>
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#authors" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.all_authors'}}</a>
                <a href="#authors/recent" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{trans 'button.recent_authors'}}</a>
                <a href="#authors/search" class="load-route mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect online">{{trans 'button.search_authors'}}</a>
            </div>
        </form>
    </div>
</script>

<script type="text/template" id="view-status">
    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="status">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Server
            </h1>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                <span class="label">{{trans 'SERVER_ADDR'}}</span>
                {{ _server.SERVER_ADDR }}
            </p>
            <p>
                <span class="label">{{trans 'HTTP_HOST'}}</span>
                {{ _server.HTTP_HOST }}
            </p>
            <p>
                <span class="label">{{trans 'SERVER_NAME'}}</span>
                {{ _server.SERVER_NAME }}
            </p>
            {{#if _server.HTTPS }}
                <p>
                    <span class="label">{{trans 'HTTPS'}}</span>
                    {{ _server.HTTPS }}
                </p>
            {{/if}}
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="status">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Webserver
            </h1>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                <span class="label">{{trans 'SERVER_SOFTWARE'}}</span>
                {{ _server.SERVER_SOFTWARE }}
            </p>
            <p>
                <span class="label">{{trans 'DOCUMENT_ROOT'}}</span>
                {{ _server.DOCUMENT_ROOT }}
            </p>
            <p>
                <span class="label">{{trans 'get_current_user'}}</span>
                {{ function.get_current_user }}
            </p>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="status">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Language
            </h1>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                <span class="label">{{trans 'php_sapi_name'}}</span>
                {{ function.php_sapi_name }}
            </p>
            <p>
                <span class="label">{{trans 'phpversion'}}</span>
                {{ function.phpversion }}
            </p>
            <p>
                <span class="label">{{trans 'symfony'}}</span>
                {{ symfony }}
            </p>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="status">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                Extensions
            </h1>
        </div>
        <div class="mdl-card__supporting-text">
            <p>
                <span class="label">{{trans 'gmp'}}</span>
                {{ extension.gmp }}
            </p>
            <p>
                <span class="label">{{trans 'mbstring'}}</span>
                {{ extension.mbstring }}
            </p>
            <p>
                <span class="label">{{trans 'iconv'}}</span>
                {{ extension.iconv }}
            </p>
            <p>
                <span class="label">{{trans 'apcu'}}</span>
                {{ extension.apcu }}
            </p>
            <p>
                <span class="label">{{trans 'tidy'}}</span>
                {{ extension.tidy }}
            </p>
            <p>
                <span class="label">{{trans 'dom'}}</span>
                {{ extension.dom }}
            </p>
        </div>
    </div>

    {{#if search.enabled }}
        {{#if search.stats.indices }}
            {{#each search.stats.indices as |indice indice_index|}}
                <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="search-node-{{ node.name }}">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">
                            Index (Elastic Search)
                        </h1>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>
                            <span class="label">name</span>
                            {{ indice_index }}
                        </p>
                        <p>
                            <span class="label">total.store.size_in_bytes</span>
                            {{ indice.total.store.size_in_bytes }}
                        </p>
                        <p>
                            <span class="label">total.docs.count</span>
                            {{ indice.total.docs.count }}
                        </p>
                        <p>
                            <span class="label">total.docs.deleted</span>
                            {{ indice.total.docs.deleted }}
                        </p>
                        <p>
                            <span class="label">total.search.query_total</span>
                            {{ indice.total.search.query_total }}
                        </p>
                        <p>
                            <span class="label">total.search.fetch_total</span>
                            {{ indice.total.search.fetch_total }}
                        </p>
                    </div>
                </div>
            {{/each}}
        {{/if}}

        <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="search-cluster">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">
                    Cluster (Elastic Search)
                </h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>
                    <span class="label">name</span>
                    {{ search.health.cluster_name }}
                </p>
                <p>
                    <span class="label">status</span>
                    {{ search.health.status }}
                </p>
                <p>
                    <span class="label">number_of_nodes</span>
                    {{ search.health.number_of_nodes }}
                </p>
                <p>
                    <span class="label">active_primary_shards</span>
                    {{ search.health.active_primary_shards }}
                </p>
                <p>
                    <span class="label">active_shards</span>
                    {{ search.health.active_shards }}
                </p>
            </div>
        </div>

        {{#if search.nodes }}
            {{#each search.nodes.nodes as |node node_index|}}
                <div class="mdl-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="search-node-{{ node.name }}">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text">
                            Node (Elastic Search)
                        </h1>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>
                            <span class="label">name</span>
                            {{ node.name }}
                        </p>
                        <p>
                            <span class="label">ip</span>
                            {{ node.ip }}
                        </p>
                        <p>
                            <span class="label">version</span>
                            {{ node.version }}
                        </p>
                        <p>
                            <span class="label">os.name</span>
                            {{ node.os.name }}
                        </p>
                        <p>
                            <span class="label">os.arch</span>
                            {{ node.os.arch }}
                        </p>
                        <p>
                            <span class="label">os.version</span>
                            {{ node.os.version }}
                        </p>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    {{/if}}
</script>
