Axipi\FeedBundle\Entity\SettingSection:
    type: entity
    table: setting_section
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: true
            id: true
            generator:
                strategy: IDENTITY
    fields:
        title:
            type: string
            nullable: false
            length: 255
            options:
                fixed: false
        dateCreated:
            type: datetime
            nullable: false
            column: date_created
    lifecycleCallbacks: {  }
